{% extends 'basic_page.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

{% block body %}
    <div class="class-title">
        <h2>all professors</h2>
    </div>
    </br>
    <div class="col-md-3">
        
    </div>

    <div class="col-md-6">
        <div class="site-container thread-list">

           <div class="link-list">
               <ul class="list-group">
                {% if students %}
                    {% for s in students %}
                    <a href="../../../Profiles/{{s.first_name}}{{s.last_name}}/{{s.pk}}" class="list-group-item">
                       <h4 class="list-group-item-heading">{{s.first_name}} {{s.last_name}}</h4>
                </a>
                <hr class="list-separator">
              {% endfor %}
            {% else %}
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">no professors</h4>
              </a>
              <hr class="list-separator">
            {% endif %}
            </ul>
          </div>

        </div>
    </div>

{% endblock %}
 </html>