{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>eecs 325</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static "css/stylesheet.css" %}"/>
	
  </head>
  <body>

  	<!-- Navigation bar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">WhiteBoard</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
          	<li><a href="#">my calendar</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">my classes <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="../EECS325">EECS 325: Computer Networks</a></li>
                    <li><a href="../EECS393">EECS 393: Software Engineering</a></li>
                    <li><a href="#">SOCI 113: Problems in Modern Society</a></li>
                    <li><a href="#">PHIL 201: Intro to Logic</a></li>
                    <li><a href="#">MATH 201: Intro to Linear Algebra</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Older Courses</a></li>
                </ul>
            </li>
            <li><a href="..">my profile</a></li>
            
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    <hr/>
    </nav>
    
    <div class="class-title">
        <h2>EECS 325: Computer Networks</h2>
    </div>

    <div class="col-md-4">
	    <div class="site-container">

	      <div class="title-link"><a href="#">class description</a></div>

	      <div class="link-list">
	        <ul class="list-group">
	          <a href="#" class="list-group-item">
	            <p class="list-group-item-text">Introduction to software engineering; software lifecycle models; development team organization and project management; requirements analysis and specification techniques; software design techniques; programming practices; software validation techniques; software maintenance practices; software engineering ethics. Undergraduates work in teams to complete a significant software development project. Graduate students are required to complete a research project.</p>
	          </a>
	        </ul>
	      </div>

	    </div>

	    <div class="site-container">

	    	<div class="title-link"><a href="#">class documents</a></div>

	    	<div class="link-list">
	    		<ul class="list-group">
	    			<a href="#" class="list-group-item">
	    				<p class="list-group-item-text">syllabus</p>
	    			</a>
	    			<a href="#" class="list-group-item">
	    				<p class="list-group-item-text">lecture 1</p>
	    			</a>
	    			<a href="#" class="list-group-item">
	    				<p class="list-group-item-text">lecture 2</p>
	    			</a>
	    			<a href="#" class="list-group-item">
	    				<p class="list-group-item-text">lecture 3</p>
	    			</a>
	    		</ul>
	    	</div>
	    </div>
    </div>

    <div class="col-md-8">
	    <div class="site-container thread-list">

	      <div class="title-link">threads</div>

	      <div class="link-list">
	        <ul class="list-group">
	          <a href="#" class="list-group-item">
	            <h4 class="list-group-item-heading">Does anybody even know how to do this software specification document?</h4>
	            <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ultrices dolor ut magna tincidunt, ornare vestibulum sapien consequat. Aliquam elementum pulvinar urna, quis tempor ligula. Donec ac dui imperdiet, tristique augue maximus, elementum purus. Phasellus dictum tincidunt arcu, at tincidunt sem sagittis vitae. Duis a nisi et libero vehicula eleifend. Proin sit amet efficitur leo. Duis non nulla orci. Phasellus vitae elit sit amet mauris aliquam molestie at vel eros. Vestibulum gravida tortor ligula, cursus pretium lectus sodales at. Sed tellus neque, imperdiet quis ex ac, tincidunt ornare est. Donec turpis felis, vestibulum eu diam at, pulvinar venenatis metus. Suspendisse arcu ante, tristique sed vulputate eu, blandit eget nisi.</p>
	          </a>
	          <hr class="list-separator">
	          <a href="#" class="list-group-item">
	            <h4 class="list-group-item-heading">Why is James crying?</h4>
	            <p class="list-group-item-text">Vestibulum id luctus neque, et congue sapien. Nunc porta magna sit amet lectus dictum posuere. Aenean at dui facilisis, convallis mauris sit amet, condimentum ligula. Sed vitae ultrices mi, eget posuere ipsum. Aliquam et ante id nisi ornare facilisis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis sit amet turpis auctor, vulputate risus eu, gravida tellus. Sed suscipit, erat non egestas facilisis, massa augue congue orci, eget blandit leo ligula ut felis.</p>
	          </a>
	          <hr class="list-separator">
	          <a href="#" class="list-group-item">
	            <h4 class="list-group-item-heading">I thought it was a series of tubes...</h4>
	            <p class="list-group-item-text">In rhoncus, justo eget rutrum sollicitudin, enim ligula lacinia risus, at sollicitudin quam massa faucibus ante. Duis quis neque eget purus ultricies rutrum. Phasellus tempus sem justo, semper tristique ligula eleifend at. In sit amet porttitor sem. Etiam vulputate sit amet lectus a malesuada. Sed interdum turpis tellus, nec fermentum magna varius quis. In euismod metus et magna convallis, accumsan porttitor ligula malesuada. Praesent pharetra ligula enim, eu molestie nulla iaculis nec. Vivamus cursus mi ut nulla vestibulum pretium.</p>
	          </a>
	        </ul>
	      </div>

	    </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

  </body>
 </html>