{% extends "basic_page.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">	
{% block body %}
<title>{{student.first_name}} {{student.last_name}}</title>	
<div class="class-title">
	<h2>{{student.first_name}} {{student.last_name}}</h2>
	{% if curr_user == student %}
		<p><a href="/Profiles/{{curr_user.first_name}}{{curr_user.last_name}}/{{curr_user.id}}/edit">Edit</a></p>
	{% endif %}
</div>

<div class="col-md-4">
	<div class="site-container">
		
	  <img class="profile-picture" src="{% static "img/matt.jpg" %}" alt="Tekin">

	  <div class="title-link"><a href="#">overview</a></div>

	  <div class="link-list">
		<ul class="list-group">
		  <a href="#" class="list-group-item">
			<p class="list-group-item-text">Name:&emsp;&emsp;&emsp;&emsp;{{student.first_name}} {{student.last_name}}</p>
			<p class="list-group-item-text">Major:&emsp;&emsp;&emsp;&emsp;
                    {% if majors %}
                        {% for maj in majors %}
                            {{maj.major}}
                        {% endfor %}
                    {% else %}
                        Undecided
                    {% endif %}
            </p>
			{% if minors %}
                  <p> class="list-group-item-text">Minor:&emsp;&emsp;&emsp;&emsp;
                      {% for min in minors %}
                        {{min.minor}}
                      {% endfor %}
                  </p>
            {% endif %}
			<p class="list-group-item-text">Bio:&emsp;&emsp;<br/>&emsp;&emsp;&emsp;{{ student.bio }}</p>
		  </a>
		</ul>
	  </div>

	</div>

	<div class="site-container">

		<div class="title-link"><a href="#">current classes</a></div>

		<div class="link-list">
			<ul class="list-group">
				{% if curr_user_classes %}
					{% for c in curr_user_classes %}
					<a href="../../../course/{{c.course.department}}{{c.course.course_number}}/{{c.section_number}}" class="list-group-item">
						<p class="list-group-item-text">{{c.course.department}}{{c.course.course_number}}: {{c.course.course_name}}</p>
					</a>
					{% endfor %}
                {% else %}
					<a href="#" class="list-group-item">
						<p class="list-group-item-text">You are not registered for any courses at this time.</p>
					</a>
                {% endif %}
			</ul>
		</div>
	</div>
</div>

<div class="col-md-8">
	<div class="site-container thread-list">
		<div class="title-link">recent posts</div>
			<div class="link-list">
				{% if student.thread_set.all|length > 0 %}
					<ul class="list-group">
						{% for thread in curr_user.thread_set.all %}
							  <a href="../../../boards/thread/{{thread.id}}/}}" class="list-group-item">
								<h4 class="list-group-item-heading">{{ thread.subject }}</h4>
								<p class="list-group-item-text">Posted at: {{thread.time_of_creation}}</p>
								<p class="list-group-item-text">{{ thread.message }}</p>
							  </a>
						{% endfor %}
					</ul>
				{% else %}
					<p><br><br><br><br>&emsp;There are no posts to show.<br><br><br><br></p>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
</html>