{% extends "basic_page.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">	
{% block body %}
<title>{{student.first_name}} {{student.last_name}}</title>	
<div class="class-title">
	<h2>{{student.first_name}} {{student.last_name}}</h2>
	{% if current_user == student %}
		<p><a href="/Profiles/{{current_user.first_name}}{{current_user.last_name}}/{{student.id}}/edit">Edit</a></p>
	{% endif %}
</div>

<div class="col-md-4">
	<div class="site-container">
		
	  <img class="profile-picture" src="{% static current_user.photo %}" alt="Tekin">

	  <div class="title-link"><a href="#">overview</a></div>

	  <div class="link-list">
		<ul class="list-group">
		  <a href="#" class="list-group-item">
			<p class="list-group-item-text">Name:&emsp;&emsp;&emsp;&emsp;{{student.first_name}} {{student.last_name}}</p>
			<p class="list-group-item-text">Major(s):&emsp;<br/>{% for major in student.majors.all %}<a href="#">{{ major }}, </a>{% endfor %}</p>
			<p class="list-group-item-text">Minor(s):&emsp;<{% for minor in student.minors.all %}<a href="#">{{ minor }}, </a>{% endfor %}</p>
			<p class="list-group-item-text">Bio:&emsp;&emsp;<br/>&emsp;&emsp;&emsp;{{ student.bio }}</p>
		  </a>
		</ul>
	  </div>

	</div>

	<div class="site-container">

		<div class="title-link"><a href="#">classes</a></div>

		<div class="link-list">
			<ul class="list-group">
				<a href="../../../course/EECS325" class="list-group-item">
					<p class="list-group-item-text">EECS 325: Computer Networks</p>
				</a>
				<a href="../../../course/EECS393" class="list-group-item">
					<p class="list-group-item-text">EECS 393: Software Engineering</p>
				</a>
				<a href="#" class="list-group-item">
					<p class="list-group-item-text">SOCI 113: Problems in Modern Society</p>
				</a>
				<a href="#" class="list-group-item">
					<p class="list-group-item-text">PHIL 201: Intro to Logic</p>
				</a>
				<a href="#" class="list-group-item">
					<p class="list-group-item-text">MATH 201: Intro to Linear Algebra</p>
				</a>
			</ul>
		</div>
	</div>
</div>

<div class="col-md-8">
	<div class="site-container thread-list">
		<div class="title-link">recent posts</div>
			<div class="link-list">
				{% if threads|length > 0 %}
					<ul class="list-group">
						{% for thread in threads %}
							  <a href="#" class="list-group-item">
								<h4 class="list-group-item-heading">{{ thread.subject }}</h4>
								<p class="list-group-item-text">Posted at: {{thread.time_of_creation}}</p>
								<p class="list-group-item-text">{{ thread.message }}</p>
							  </a>
						{% endfor %}
					</ul>
				{% else %}
					<p><br><br><br><br>&emsp;There are no posts to show.<br><br><br><br></p>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
</html>