{% extends 'basic_page.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

{% block body %}
    <div class="class-title">
        <h2>{{course.department}}{{course.course_number}}: {{course.course_name}} {{section.season}}{{section.year}}</h2>
    </div>

    <div class="col-md-4">
	    <div class="site-container">

	      <div class="title-link"><a href="#">class description</a></div>

	      <div class="link-list">
	        <ul class="list-group">
	          <a href="#" class="list-group-item">
	            <p class="list-group-item-text">{{course.description}}</p>
	          </a>
	        </ul>
	      </div>

	    </div>

      <div class="site-container">

        <div class="title-link"><a href="#">class info</a></div>

        <div class="link-list">
          <ul class="list-group">
            <a href="../../../Profiles/Professor/{{professor.first_name}}/{{professor.last_name}}" class="list-group-item">
              <p class="list-group-item-text">Professor: {{professor.first_name}} {{professor.last_name}}</p>
            </a>
            <a href="#" class="list-group-item">
              <p class="list-group-item-text">Location: {{section.location}}</p>
            </a>
            <a href="#" class="list-group-item">
              <p class="list-group-item-text">Time: {{section.time_of_day}}</p>
            </a>
            <a href="#" class="list-group-item">
              <p class="list-group-item-text">Days of the Week: {{section.days_of_week}}</p>
            </a>

          </ul>
        </div>

      </div>

      <div class="site-container">

	    	<div class="title-link"><a href="#">teaching assistants</a></div>

	    	<div class="link-list">
	    		<ul class="list-group">
                {% if teaching_assistants %}
                    {% for ta in teaching_assistants %}
                        <a href="../../../Profiles/{{ta.first_name}}{{ta.last_name}}/{{ta.pk}}" class="list-group-item">
                            <p class="list-group-item-text">{{ta.first_name}} {{ta.last_name}}</p>
                        </a>
                    {% endfor %}
                {% else %}
                    <a href="#" class="list-group-item">
                        <p class="list-group-item-text">There are no TAs listed for this course yet.</p>
                    </a>
                {% endif %}
	    		</ul>
	    	</div>
      </div>

	    <div class="site-container">

	    	<div class="title-link"><a href="#">class documents</a></div>

	    	<div class="link-list">
	    		<ul class="list-group">
                {% if documents %}
                    {% for d in documents %}
                        <a href={{d.path}} class="list-group-item">
                            <p class="list-group-item-text">{{d.name}}</p>
                            <!--Add an if statement for if there is a description -->
                            <p class="list-group-item-text">{{d.description}}</p>
                        </a>
                    {% endfor %}
                {% else %}
                    <a href="#" class="list-group-item">
                        <p class="list-group-item-text">No documents have been posted yet.</p>
                    </a>
                {% endif %}
	    		</ul>
	    	</div>
	    </div>

        {% if sections|length > 1 %}
        <div class="site-container">
	    	<div class="title-link"><a href="#">other semesters</a></div>
	    	<div class="link-list">
	    		<ul class="list-group">
                    {% for s in sections %}
                        <a href="/course/{{course.department}}{{course.course_number}}/{{s.season}}{{s.year}}/{{s.section_number}}" class="list-group-item">
                            <p class="list-group-item-text">{{s}}</p>
                        </a>
                    {% endfor %}
	    		</ul>
	    	</div>
	    </div>
        {% endif %}

        <div class="site-container">
	    	<div class="title-link"><a href="#">students</a></div>
	    	<div class="link-list">
	    		<ul class="list-group">
                    {% if students %}
                        {% for s in students %}
                            <a href="../../../Profiles/{{s.first_name}}{{s.last_name}}/{{s.pk}}" class="list-group-item">
                                <p class="list-group-item-text">{{s.first_name}} {{s.last_name}}</p>
                            </a>
                        {% endfor %}
                    {% else %}
                        <a href="#" class="list-group-item">
                            <p class="list-group-item-text">There are no students registered for this class.</p>
                        </a>
                    {% endif %}
	    		</ul>
	    	</div>
	    </div>
    </div>

    <div class="col-md-8">
	    <div class="site-container thread-list">


	      <div class="title-link">threads</div>
            <a href="/boards/{{ board_id }}/create">Create new thread</a>
	      <div class="link-list">
	        <ul class="list-group">
            {% if threads %}
              {% for t in threads %}
                <a href="/boards/thread/{{t.id}}/" class="list-group-item">
	                <h4 class="list-group-item-heading">{{t.subject}}</h4>
                  <p class="list-group-item-text">Created by: {{t.creator}} at {{t.time_of_creation}}</p>
	                <p class="list-group-item-text">{{t.message}}</p>
                </a>
                <hr class="list-separator">
              {% endfor %}
            {% else %}
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">No threads have been posted yet.</h4>
              </a>
              <hr class="list-separator">
            {% endif %}
	        </ul>
	      </div>

	    </div>
    </div>

{% endblock %}
 </html>