{% extends "basic_page.html" %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  {% block body %}
    
    <div class="class-title">
        <h2>Create post for {{ board.course.course.department }} {{ board.course.course.course_number }}: {{ board.course.course.course_name }}</h2>
    </div>
    
    <div class="col-md-12">
        <div class="site-container-post thread-list">
            
            <div class="new-post">
                <ul class="new-post-content">
                    
                        <h4 class="new-post-header">New Post</h4>
                        <form action="." method="post">
                            {% csrf_token %}
                            Subject:<br>
                            <input class="thread_subject" type="text" name="thread_subject">
                                <br>
                                Message:<br>
                                <textarea class="thread_message" name="thread_message"></textarea>
                                    <br><br>
                                    <input class="submit-button" type="submit" value="Submit">
                        </form>
                    
                </ul>
            </div>
            
        </div>
    </div>

{% endblock %}
 </html>