{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Bootstrap -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/stylesheet.css" %}"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>


	</head>
	
	{% block navbar %} 
	<!-- Navigation bar -->
		<nav class="navbar navbar-default navbar-fixed-top">
		  <div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="../../../Profiles/{{curr_user.first_name}}{{curr_user.last_name}}/{{curr_user.pk}}">WhiteBoard</a>
			</div>



			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			  <ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">browse <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<a href="#" class="list-group-item">
							<p class="list-group-item-text">departments</p>
						</a>
						<a href="#" class="list-group-item">
							<p class="list-group-item-text">students</p>
						</a>
						<a href="#" class="list-group-item">
							<p class="list-group-item-text">professors</p>
						</a>

					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">my classes <span class="caret"></span></a>
					<ul class="dropdown-menu">
						{% if curr_user_classes %}
							{% for c in curr_user_classes %}
								<a href="../../../course/{{c.course.department}}{{c.course.course_number}}/{{c.section_number}}" class="list-group-item">
									<p class="list-group-item-text">{{c.course.department}}{{c.course.course_number}}: {{c.course.course_name}}</p>
								</a>
							{% endfor %}
							<hr>
							<a href="../../../Profiles/{{curr_user.first_name}}{{curr_user.last_name}}/{{curr_user.pk}}/all" class="list-group-item">
								<p class="list-group-item-text">all classes</p>
							</a>
						{% else %}
								<p class="list-group-item-text">You are not registered for any courses at this time.</p>
						{% endif %}
					</ul>
				</li>
				<!--li><a href="#">my profile</a></li-->
				<li><a href="../../../logout">logout</a></li>
			  </ul>
			</div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
		{% endblock %}
		
		{% block body%}Stuff goes here{% endblock %}
</html>