{% extends "basic_page.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">	
{% block body %}
<title>{{curr_user.first_name}} {{curr_user.last_name}}</title>	
<div class="class-title">
	<h2>{{curr_user.first_name}} {{curr_user.last_name}}</h2>
</div>

<div class="col-md-4">
	<div class="site-container">
		<img class="profile-picture" src="../../../uploads/Profiles/static/{{ photo }}" alt="No Image Selected">
		<div class="title-link"><a href="#">overview</a></div>
		<form id="edit_profile_form" method="post" class="username-pass-fields" action="">
			{% csrf_token %}
			First Name:<br/>
			{{ edit_profile_form.first_name }}
			<br/>
			Last Name:<br/>
			{{ edit_profile_form.last_name }}
			<br/>
			Email Address:<br/>
			{{ edit_profile_form.email_id }}
			<br/>
			Biography:<br/>
			{{ edit_profile_form.bio}}
			<br/>
			Graduation Year:<br/>
			{{ edit_profile_form.grad_year }}
			<br/>
			Major(s):<br/>
			{{ edit_profile_form.majors }}
			<br/>
			Minor(s):<br/>
			{{ edit_profile_form.minors }}
			<br/>
			Classes:<br/>
			{{ edit_profile_form.curr_classes }}
			<br/>
			<button type="sumbit" class="login">Save</button>
		</form>

	</div>
</div>
{% endblock %}
</html>