{% extends "basic_page.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">	
{% block body %}
<title>{{curr_user.first_name}} {{curr_user.last_name}}</title>	
<div class="class-title">
	<h2>{{curr_user.first_name}} {{curr_user.last_name}}</h2>
	<p>You made it to the edit page!!</p>
</div>

<div class="col-md-4">
	<div class="site-container">
		<img class="profile-picture" src="{% static current_user.photo %}" alt="Tekin">
		<p>Select a new picture: <input type="file" name="file"></p>
			                <p>{{ form.non_field_errors }}</p>
			                <p>{{ form.file.label_tag }} {{ form.file.help_text }}</p>
			                <p>
				            {{ form.file.errors }}
				            {{ form.file }}
			                </p>
			                <p><input type="submit" value="Upload" /></p>
		<div class="title-link"><a href="#">overview</a></div>
		<form id="edit_profile_form" method="post" class="username-pass-fields" action="">
			{% csrf_token %}
			First Name:<br/>
			{{ edit_profile_form.first_name }}
			<br/>
			Last Name:<br/>
			{{ edit_profile_form.last_name }}
			<br/>
			Email Address:<br/>
			{{ edit_profile_form.email_id }}
			<br/>
			Biography:<br/>
			{{ edit_profile_form.bio}}
			<br/>
			Graduation Year:<br/>
			{{ edit_profile_form.grad_year }}
			<br/>
			Major(s):<br/>
			{{ edit_profile_form.majors }}
			<br/>
			Minor(s):<br/>
			{{ edit_profile_form.minors }}
			<br/>
			<button type="sumbit" class="login">Save</button>
		</form>

	</div>

<div class="site-container">
	<div class="title-link"><a href="#">classes</a></div>
		<div class="link-list">
			<ul class="list-group">
				<a href="../../../course/EECS325" class="list-group-item">
					<p class="list-group-item-text">EECS 325: Computer Networks</p>
				</a>
				<a href="../../../course/EECS393" class="list-group-item">
					<p class="list-group-item-text">EECS 393: Software Engineering</p>
				</a>
				<a href="#" class="list-group-item">
					<p class="list-group-item-text">SOCI 113: Problems in Modern Society</p>
				</a>
				<a href="#" class="list-group-item">
					<p class="list-group-item-text">PHIL 201: Intro to Logic</p>
				</a>
				<a href="#" class="list-group-item">
					<p class="list-group-item-text">MATH 201: Intro to Linear Algebra</p>
				</a>
			</ul>
		</div>
	</div>
</div>

<div class="col-md-8">
	<div class="site-container thread-list">
		<div class="title-link">recent posts</div>
			<div class="link-list">
				{% if curr_user.thread_set.all|length > 0 %}
					<ul class="list-group">
						{% for thread in curr_user.thread_set.all %}
							  <a href="#" class="list-group-item">
								<h4 class="list-group-item-heading">{{ thread.subject }}</h4>
								<p class="list-group-item-text">Posted at: {{thread.time_of_creation}}</p>
								<p class="list-group-item-text">{{ thread.message }}</p>
							  </a>
						{% endfor %}
					</ul>
				{% else %}
					<p><br><br><br><br>&emsp;There are no posts to show.<br><br><br><br></p>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
</html>