{% extends "basic_page.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block body %}
<title>{{student.first_name}} {{student.last_name}}</title>	
<!--div class="class-title">
	<h2>{{student.first_name}} {{student.last_name}}</h2-->
	{% if curr_user == student %}
		<p><a href="/Profiles/{{curr_user.first_name}}{{curr_user.last_name}}/{{curr_user.id}}/edit">Edit</a></p>
	{% endif %}
</div>


<div class = "site-container">
    
    <div id="wrapper" class="professor_prof_sidebar">
        <div id="sidebar-wrapper">
            <div class="row">
                
                <div class="col-md-1">
					<img class="profile-picture" src="{% static photo %}" alt="No Image Selected">
                </div>
                
                <div class="col-md-2" id="student_name_bio">
                    <h3 id="prof-pic-name">{{professor.first_name}} {{professor.last_name}}</h3>
                    <div class="link-list" id="overview">
                        <ul class="list-group" id="professor_info">
                            <a href="http://www.ratemyprofessors.com/ShowRatings.jsp?tid=16820">RateMyProfessor</a>
                            <p>Email: {{professor.email_id}}</p>
                            <p class="office">Office: {{office_location}}</p>
                            <a href="/Profiles/Department/{{professor.current_department.department_code}}"><p class="department">Department: {{professor.current_department.department_code}}</p></a>
                        </ul>
                    </div>
                </div>
                
              </div>
            
            <div class="row" id="bio">
                <p class="list-group-item-text">{{ professor.bio }}</p>
                
            </div>
            
                
            </ul>
        </div>
        <div id="page-content-wrapper">
            <div class="page-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="site-container thread-list">
                                
                                <div>
                                    
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-pills" role="tablist" id="pill_tabs_professor">
                                        <li class="active"><a href="#home" aria-controls="home" role="pill" data-toggle="pill">Current Classes</a></li>
                                        <li><a class="righty" href="#profile" aria-controls="profile" role="pill" data-toggle="pill">Past Classes</a></li>
                                    </ul>
                                    
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane active" id="home">
                                        
                                        <div class="professor_currrent_classes">
                                            
                                            <div class="link-list">
                                                <ul class="list-group">
                                                    {% if prof_curr_classes %}
                                                    {% for c in prof_curr_classes %}
                                                    <a href="../../../course/{{c.course.department}}{{c.course.course_number}}/{{c.section_number}}" class="list-group-item">
                                                        <p class="list-group-item-text">{{c.course.department}}{{c.course.course_number}}: {{c.course.course_name}}</p>
                                                    </a>
                                                    {% endfor %}
                                                    {% else %}
                                                    <a href="#" class="list-group-item">
                                                        <p class="list-group-item-text">{{ professor.first_name }} {{ professor.last_name }} is not teaching any courses at this time.</p>
                                                    </a>
                                                    {% endif %}
                                                </ul>
                                                
                                            </div>
                                            
                                            
                                            
                                        </div>
                                        
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="profile">
                                        
                                        
                                        <div class="professor_currrent_classes">
                                            
                                            <div class="link-list">
                                                <ul class="list-group">
                                                    {% if prof_past_classes %}
                                                    {% for c in prof_past_classes %}
                                                    <a href="../../../course/{{c.course.department}}{{c.course.course_number}}/{{c.section_number}}" class="list-group-item">
                                                        <p class="list-group-item-text">{{c.course.department}}{{c.course.course_number}}: {{c.course.course_name}} and Memes</p>
                                                    </a>
                                                    {% endfor %}
                                                    {% else %}
                                                    <a href="#" class="list-group-item">
                                                        <p class="list-group-item-text">{{ professor.first_name }} {{ professor.last_name }} has not taught any courses in the past.</p>
                                                    </a>
                                                    {% endif %}
                                                </ul>
                                                
                                            </div>
                                            
                                            
                                            
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                                
                                
                                
                                
                                
                                
                                
                                

                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--div class="col-md-4">
	<div class="site-container">

	</div>

	<div class="site-container">

		<div class="title-link"><a href="#">current classes</a></div>

		<div class="link-list">
			<ul class="list-group">
				{% if curr_user_classes %}
					{% for c in curr_user_classes %}
					<a href="../../../course/{{c.course.department}}{{c.course.course_number}}/{{c.section_number}}" class="list-group-item">
						<p class="list-group-item-text">{{c.course.department}}{{c.course.course_number}}: {{c.course.course_name}}</p>
					</a>
					{% endfor %}
                {% else %}
					<a href="#" class="list-group-item">
						<p class="list-group-item-text">You are not registered for any courses at this time.</p>
					</a>
                {% endif %}
			</ul>
		</div>
	</div>
</div>

<div class="col-md-8">
	<div class="site-container thread-list">
		<div class="title-link">recent posts</div>
			<div class="link-list">
				{% if curr_user.thread_set.all|length > 0 %}
					<ul class="list-group">
						{% for thread in curr_user.thread_set.all %}
							  <a href="#" class="list-group-item">
								<h4 class="list-group-item-heading">{{ thread.subject }}</h4>
								<p class="list-group-item-text">Posted at: {{thread.time_of_creation}}</p>
								<p class="list-group-item-text">{{ thread.message }}</p>
							  </a>
						{% endfor %}
					</ul>
				{% else %}
					<p><br><br><br><br>&emsp;There are no posts to show.<br><br><br><br></p>
				{% endif %}
			</div>
		</div>
	</div>
</div-->
</div>
{% endblock %}
</html>